<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Sleeping Disorder Prediction Using Machine Learning</title>
</head>
<body>
    <h1>Sleeping Disorder Prediction Using ML</h1>
    

    <form action = "{{url_for('predict')}}" method="post">

        <input type="float" name="Gender" placeholder="Gender"required="required">
            <br>

        <input type="float" name="Age" placeholder="Age"required="required">
            <br>

        <input type="float" name="Occupation" placeholder="Occupation"required="required">
            <br>

        <input type="float" name="Sleep Duration" placeholder="Sleep Duration"required="required">
            <br>

            <input type="float" name="Quality of Sleep" placeholder="Quality of Sleep"required="required">
            <br>

        <input type="float" name="Physical Activity Level" placeholder="Physical Activity Level"required="required">
            <br>

        <input type="float" name="Stress Level" placeholder="Stress Level"required="required">
            <br>

        <input type="float" name="BMI Category" placeholder="BMI Category"required="required">
            <br>
        
            <input type="float" name="Blood Pressure" placeholder="Blood Pressure"required="required">
            <br>

        <input type="float" name="Heart Rate" placeholder="Heart Rate"required="required">
            <br>

        <input type="float" name="Daily Steps" placeholder="Daily Steps"required="required">
            <br>
      
        <br><br>
        <button type="submit">Submit</button>

    </form>



</body>
</html>

